openapi: 3.0.1
info:
  title: Cartesia API
  version: 0.0.1
servers:
  - url: https://api.cartesia.ai
    description: Production
security: []
paths:
  /:
    get:
      tags:
        - ApiStatus
      summary: API Status and Version
      operationId: apiStatus_get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIInfo'
  /tts/bytes:
    post:
      tags:
        - Tts
      summary: Text-to-Speech (Bytes)
      description: Stream audio from a complete transcript
      operationId: tts_bytes
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TTSRequest'
      responses:
        '200':
          description: Audio bytes
          content:
            audio/*:
              schema:
                type: string
                format: binary
      security:
        - APIKeyAuth: []
        - AccessTokenAuth: []
  /tts/sse:
    post:
      tags:
        - Tts
      summary: Text-to-Speech (SSE)
      description: Stream audio with extra metadata from a complete transcript
      operationId: tts_sse
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TTSSSERequest'
      responses:
        '200':
          description: >-
            Server-sent events stream. Each frame is `data: <json>\n\n` where
            the JSON payload matches `TTSSSEEvent`.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/TTSSSEEvent'
      security:
        - APIKeyAuth: []
        - AccessTokenAuth: []
  /stt:
    post:
      tags:
        - Stt
      summary: Batch Speech-to-Text
      description: Transcribes an audio file of any length
      operationId: stt_transcribe
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: encoding
          in: query
          description: >-
            Required when uploading raw PCM data without a container header.

            If not specified, the audio file will be decoded automatically from
            its container (e.g. WAV, MP3, FLAC).
          required: false
          schema:
            $ref: '#/components/schemas/STTEncoding'
            nullable: true
        - name: sample_rate
          in: query
          description: 'The sample rate of the audio in Hz. '
          required: false
          schema:
            type: integer
            nullable: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: >-
                    There's no need to break up your audio file. Long files are
                    intelligently chunked by our server.


                    Supported audio formats: `flac`, `m4a`, `mp3`, `mp4`,
                    `mpeg`, `mpga`, `oga`, `ogg`, `wav`, `webm`
                model:
                  type: string
                  enum:
                    - ink-whisper
                  example: ink-whisper
                  x-default: ink-whisper
                  description: >-
                    ID of the model to use for transcription. Must be in the
                    `ink-whisper` family of models.
                language:
                  description: The language of the input audio in ISO-639-1 format
                  default: en
                  enum:
                    - en
                    - zh
                    - de
                    - es
                    - ru
                    - ko
                    - fr
                    - ja
                    - pt
                    - tr
                    - pl
                    - ca
                    - nl
                    - ar
                    - sv
                    - it
                    - id
                    - hi
                    - fi
                    - vi
                    - he
                    - uk
                    - el
                    - ms
                    - cs
                    - ro
                    - da
                    - hu
                    - ta
                    - 'no'
                    - th
                    - ur
                    - hr
                    - bg
                    - lt
                    - la
                    - mi
                    - ml
                    - cy
                    - sk
                    - te
                    - fa
                    - lv
                    - bn
                    - sr
                    - az
                    - sl
                    - kn
                    - et
                    - mk
                    - br
                    - eu
                    - is
                    - hy
                    - ne
                    - mn
                    - bs
                    - kk
                    - sq
                    - sw
                    - gl
                    - mr
                    - pa
                    - si
                    - km
                    - sn
                    - yo
                    - so
                    - af
                    - oc
                    - ka
                    - be
                    - tg
                    - sd
                    - gu
                    - am
                    - yi
                    - lo
                    - uz
                    - fo
                    - ht
                    - ps
                    - tk
                    - nn
                    - mt
                    - sa
                    - lb
                    - my
                    - bo
                    - tl
                    - mg
                    - as
                    - tt
                    - haw
                    - ln
                    - ha
                    - ba
                    - jw
                    - su
                    - yue
                  type: string
                timestamp_granularities[]:
                  type: array
                  items:
                    $ref: '#/components/schemas/TimestampGranularity'
              required:
                - file
                - model
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
      security:
        - APIKeyAuth: []
        - AccessTokenAuth: []
  /v1/agents:
    post:
      tags:
        - Agents
      summary: Create an agent
      description: Creates an agent and its initial configuration version
      operationId: postV1Agents
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManagedAgentV1Request'
      responses:
        '201':
          description: Create an agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAgentV1'
      security:
        - APIKeyAuth: []
    get:
      tags:
        - Agents
      summary: List agents
      description: >-
        Returns agent summaries for your account. Full configurations are
        omitted.
      operationId: getV1Agents
      parameters:
        - name: starting_after
          in: query
          schema:
            description: >-
              A cursor for pagination. Pass the ID of the last item from the
              previous page to fetch the next page.
            type: string
        - name: ending_before
          in: query
          schema:
            description: >-
              A cursor for pagination. Pass the ID of the first item from the
              previous page to fetch the previous page.
            type: string
        - name: limit
          in: query
          schema:
            description: The maximum number of items to return, ranging between 1 and 100.
            type: integer
            default: 10
            maximum: 100
            minimum: 1
        - name: q
          in: query
          schema:
            description: Search agents by name or description.
            type: string
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '200':
          description: List agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListManagedAgentsV1Response'
      security:
        - APIKeyAuth: []
  /v1/agents/{agent_id}:
    get:
      tags:
        - Agents
      summary: Get an agent
      description: Returns the published agent with its complete normalized configuration
      operationId: getV1AgentsByAgent_id
      parameters:
        - name: agent_id
          in: path
          description: Unique identifier for the agent.
          required: true
          schema:
            description: Unique identifier for the agent.
            type: string
            minLength: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '200':
          description: Get an agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAgentV1'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
      security:
        - APIKeyAuth: []
    patch:
      tags:
        - Agents
      summary: Update an agent
      description: >-
        Sparsely updates agent metadata or configuration. Configuration changes
        create a new immutable version.
      operationId: patchV1AgentsByAgent_id
      parameters:
        - name: agent_id
          in: path
          description: Unique identifier for the agent.
          required: true
          schema:
            description: Unique identifier for the agent.
            type: string
            minLength: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateManagedAgentV1Request'
      responses:
        '200':
          description: Update an agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAgentV1'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - Agents
      summary: Delete an agent
      description: Deletes the agent. Future reads and new calls fail.
      operationId: deleteV1AgentsByAgent_id
      parameters:
        - name: agent_id
          in: path
          description: Unique identifier for the agent.
          required: true
          schema:
            description: Unique identifier for the agent.
            type: string
            minLength: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '204':
          description: Delete an agent
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
      security:
        - APIKeyAuth: []
  /v1/agents/{agent_id}/versions:
    get:
      tags:
        - Agents
      summary: List agent versions
      description: >-
        Returns the agent's configuration history, ordered from newest to
        oldest. Each version is an immutable snapshot of the complete
        configuration.
      operationId: getV1AgentsByAgent_idVersions
      parameters:
        - name: agent_id
          in: path
          description: Unique identifier for the agent.
          required: true
          schema:
            description: Unique identifier for the agent.
            type: string
            minLength: 1
        - name: starting_after
          in: query
          schema:
            description: >-
              A cursor for pagination. Pass the ID of the last item from the
              previous page to fetch the next page.
            type: string
        - name: ending_before
          in: query
          schema:
            description: >-
              A cursor for pagination. Pass the ID of the first item from the
              previous page to fetch the previous page.
            type: string
        - name: limit
          in: query
          schema:
            description: The maximum number of items to return, ranging between 1 and 100.
            type: integer
            default: 10
            maximum: 100
            minimum: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '200':
          description: List agent versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListManagedAgentVersionsV1Response'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
      security:
        - APIKeyAuth: []
  /v1/agents/{agent_id}/versions/{version_id}:
    get:
      tags:
        - Agents
      summary: Get an agent version
      description: >-
        Returns one immutable configuration snapshot. To restore it, pass its
        `config` to `PATCH /v1/agents/{agent_id}`. Restoring creates a new
        version and does not change existing history.
      operationId: getV1AgentsByAgent_idVersionsByVersion_id
      parameters:
        - name: agent_id
          in: path
          description: Unique identifier for the agent.
          required: true
          schema:
            description: Unique identifier for the agent.
            type: string
            minLength: 1
        - name: version_id
          in: path
          description: Unique identifier for an immutable agent configuration version.
          required: true
          schema:
            description: Unique identifier for an immutable agent configuration version.
            type: string
            minLength: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '200':
          description: Get an agent version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAgentVersionV1'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
      security:
        - APIKeyAuth: []
  /v1/agents/models:
    get:
      tags:
        - Agents
      summary: List agent models
      description: >-
        Returns the LLMs available for Managed Agents, including latency and
        pricing metadata
      operationId: getV1AgentsModels
      parameters:
        - name: starting_after
          in: query
          schema:
            description: >-
              A cursor for pagination. Pass the ID of the last item from the
              previous page to fetch the next page.
            type: string
        - name: ending_before
          in: query
          schema:
            description: >-
              A cursor for pagination. Pass the ID of the first item from the
              previous page to fetch the previous page.
            type: string
        - name: limit
          in: query
          schema:
            description: The maximum number of items to return, ranging between 1 and 100.
            type: integer
            default: 10
            maximum: 100
            minimum: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '200':
          description: List agent models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListManagedAgentModelsV1Response'
      security:
        - APIKeyAuth: []
  /v1/agents/tools:
    post:
      tags:
        - Agent Tools
      summary: Create a tool
      description: Creates a shared webhook or client tool that can be attached to agents
      operationId: postV1AgentsTools
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManagedToolV1Request'
            examples:
              lookup_customer:
                $ref: '#/components/examples/LookupCustomerToolRequest'
      responses:
        '201':
          description: Create a tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedToolV1'
              examples:
                lookup_customer:
                  $ref: '#/components/examples/LookupCustomerToolResponse'
      security:
        - APIKeyAuth: []
    get:
      tags:
        - Agent Tools
      summary: List tools
      description: Returns shared webhook and client tools for your account
      operationId: getV1AgentsTools
      parameters:
        - name: starting_after
          in: query
          schema:
            description: >-
              A cursor for pagination. Pass the ID of the last item from the
              previous page to fetch the next page.
            type: string
        - name: ending_before
          in: query
          schema:
            description: >-
              A cursor for pagination. Pass the ID of the first item from the
              previous page to fetch the previous page.
            type: string
        - name: limit
          in: query
          schema:
            description: The maximum number of items to return, ranging between 1 and 100.
            type: integer
            default: 10
            maximum: 100
            minimum: 1
        - name: type
          in: query
          schema:
            description: Return only tools of this type.
            type: string
            enum:
              - webhook
              - client
        - name: agent_id
          in: query
          schema:
            description: Return only tools used by this agent.
            type: string
            minLength: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '200':
          description: List tools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListManagedToolsV1Response'
      security:
        - APIKeyAuth: []
  /v1/agents/tools/{tool_id}:
    get:
      tags:
        - Agent Tools
      summary: Get a tool
      description: >-
        Returns one shared tool. Expand `agents` to include agents that
        currently reference it.
      operationId: getV1AgentsToolsByTool_id
      parameters:
        - name: tool_id
          in: path
          description: Unique identifier for the tool.
          required: true
          schema:
            description: Unique identifier for the tool.
            type: string
            minLength: 1
        - name: expand[]
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - agents
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '200':
          description: Get a tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedToolV1'
              examples:
                lookup_customer:
                  $ref: '#/components/examples/LookupCustomerToolResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
      security:
        - APIKeyAuth: []
    patch:
      tags:
        - Agent Tools
      summary: Update a tool
      description: Sparsely updates a tool.
      operationId: patchV1AgentsToolsByTool_id
      parameters:
        - name: tool_id
          in: path
          description: Unique identifier for the tool.
          required: true
          schema:
            description: Unique identifier for the tool.
            type: string
            minLength: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateManagedToolV1Request'
            examples:
              assignments:
                $ref: '#/components/examples/UpdateCustomerAssignmentsRequest'
      responses:
        '200':
          description: Update a tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedToolV1'
              examples:
                lookup_customer:
                  $ref: '#/components/examples/LookupCustomerToolResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - Agent Tools
      summary: Delete a tool
      description: >-
        Deletes an unused tool. Detach the tool from current agent
        configurations first.
      operationId: deleteV1AgentsToolsByTool_id
      parameters:
        - name: tool_id
          in: path
          description: Unique identifier for the tool.
          required: true
          schema:
            description: Unique identifier for the tool.
            type: string
            minLength: 1
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '204':
          description: Delete a tool
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
      security:
        - APIKeyAuth: []
  /agents/calls:
    get:
      tags:
        - Agents
      summary: List Calls
      description: >-
        Lists an agent's calls, or the calls placed for one outbound call batch.
        One of `agent_id` or `batch_id` is required.
      operationId: agents_list-calls
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: agent_id
          in: query
          description: The ID of the agent. Required unless `batch_id` is supplied.
          required: false
          schema:
            type: string
            nullable: true
            example: agent_abc123
        - name: batch_id
          in: query
          description: >-
            The ID of the outbound call batch. Required unless `agent_id` is
            supplied. Returns one entry per call attempt, so a retried recipient
            appears more than once. Recipients that failed before dialing have
            no call record here and remain on [Get Call
            Batch](/api-reference/agents/call-batches/get-call-batch).
          required: false
          schema:
            type: string
            nullable: true
            example: acb_abc123
        - name: start_time_gte
          in: query
          description: >-
            Only return calls that started at or after this RFC 3339 timestamp,
            inclusive.
          required: false
          schema:
            type: string
            format: date-time
            nullable: true
        - name: start_time_lte
          in: query
          description: >-
            Only return calls that started at or before this RFC 3339 timestamp,
            inclusive.
          required: false
          schema:
            type: string
            format: date-time
            nullable: true
        - name: expand
          in: query
          description: >-
            The fields to expand in the response. Currently, the only supported
            value is `transcript`.
          required: false
          schema:
            type: string
            nullable: true
        - name: starting_after
          in: query
          description: (Pagination option)The ID of the call to start after.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: (Pagination option) The ID of the call to end before.
          required: false
          schema:
            type: string
            nullable: true
        - name: limit
          in: query
          description: >-
            (Pagination option) The number of calls to return per page, ranging
            between 1 and 100.
          required: false
          schema:
            type: integer
            nullable: true
          example: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCallsResponse'
        '400':
          description: >-
            Neither `agent_id` nor `batch_id` was supplied, an `agent_id` that
            does not match the batch's agent, an invalid pagination option, or a
            `start_time_gte` / `start_time_lte` bound that is malformed or
            reversed.
        '404':
          description: Agent or batch not found.
      security:
        - APIKeyAuth: []
    post:
      tags:
        - Agents
      summary: Create Outbound Call
      operationId: agents_create-outbound-call
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentOutboundCallRequest'
      responses:
        '200':
          description: >-
            Results for each destination. Check `calls[].error` for failed
            calls.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentOutboundCallResponse'
        '400':
          description: >-
            Invalid request or call settings. Per-destination errors are
            returned in the HTTP 200 response.
        '403':
          description: >-
            The phone number does not belong to the same organization as the
            agent.
        '404':
          description: Agent, phone number, or deployment not found.
        '500':
          description: >-
            Outbound calling is temporarily unavailable, or provider setup
            failed.
      security:
        - APIKeyAuth: []
  /agents/calls/{call_id}:
    get:
      tags:
        - Agents
      summary: Get Call
      operationId: agents_get-call
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: call_id
          in: path
          description: The ID of the call.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCall'
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - Agents
      summary: Delete Call
      description: >-
        Deletes the sensitive data for a call, including the transcript, audio
        recordings, and logs. The call record is retained with non-sensitive
        operational metadata; deleted fields are omitted from subsequent API
        responses, and `redacted_at` marks when deletion occurred. Deletion
        cannot be undone.


        Only completed or failed calls can be deleted. Cancel an active call
        first via `POST /agents/calls/{call_id}/cancel`.
      operationId: agents_delete-call
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: call_id
          in: path
          description: The ID of the call.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The call record with sensitive fields deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCall'
              example:
                id: ac_abc123
                agent_id: agent_abc123
                agent_name: Customer support
                redacted_at: '2026-03-01T12:30:00Z'
                start_time: '2026-03-01T12:00:00Z'
                end_time: '2026-03-01T12:05:00Z'
                telephony_params:
                  call_sid: sid_abc123
                  connection_type: websocket
                status: completed
                end_reason: agent_hangup
        '400':
          description: >-
            Call is not in a terminal state. Only completed or failed calls can
            be deleted; cancel an active call first via `POST
            /agents/calls/{call_id}/cancel`.
        '404':
          description: Call not found.
        '500':
          description: >-
            Deletion did not complete. Retry the request; deletion is
            idempotent.
      security:
        - APIKeyAuth: []
  /agents/calls/{call_id}/cancel:
    post:
      tags:
        - Agents
      summary: Cancel Call
      description: >-
        Terminates an active call. Only calls in the `started` status can be
        cancelled; the call ends with end reason `api_cancelled`.


        Cancelling ends the call but does not delete its data. To delete a
        call's sensitive data after it ends, use `DELETE
        /agents/calls/{call_id}`.
      operationId: agents_cancel-call
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: call_id
          in: path
          description: The ID of the call.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The call was cancelled.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cancelled:
                    type: boolean
                    description: Always `true` when the cancel is confirmed.
                required:
                  - cancelled
        '400':
          description: The call is not currently active and cannot be cancelled.
        '404':
          description: Call not found, or no active connection was found for the call.
        '502':
          description: The cancel request could not be delivered. Retry the request.
      security:
        - APIKeyAuth: []
  /agents/calls/{call_id}/audio:
    get:
      tags:
        - Agents
      summary: Download Call Audio
      operationId: agents_download-call-audio
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: call_id
          in: path
          description: The ID of the call.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The audio file in WAV format.
          content:
            audio/wav:
              schema:
                type: string
                format: binary
      security:
        - APIKeyAuth: []
  /agents/calls/batches:
    post:
      tags:
        - Agents
      summary: Create Call Batch
      description: >-
        Queues a batch of outbound calls. Calls are issued gradually, subject to
        the organization's and the batch's concurrency limits.
      operationId: agents_create-call-batch
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentCallBatchRequest'
      responses:
        '201':
          description: The created batch, with all of its call requests queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCallBatch'
        '400':
          description: >-
            Invalid request or recipient. Dynamic variable errors identify the
            first failing recipient as `recipients[index]`. No batch is created.
        '402':
          description: >-
            The organization has reached its agents usage limit. Upgrade the
            subscription or enable overages.
        '404':
          description: Agent or phone number not found.
        '500':
          description: The batch could not be created.
      security:
        - APIKeyAuth: []
    get:
      tags:
        - Agents
      summary: List Call Batches
      operationId: agents_list-call-batches
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: agent_id
          in: query
          description: Filter to batches for this agent.
          required: false
          schema:
            type: string
            nullable: true
        - name: starting_after
          in: query
          description: (Pagination option) The ID of the batch to start after.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: (Pagination option) The ID of the batch to end before.
          required: false
          schema:
            type: string
            nullable: true
        - name: limit
          in: query
          description: >-
            (Pagination option) The number of batches to return per page,
            ranging between 1 and 100.
          required: false
          schema:
            type: integer
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentCallBatchesResponse'
      security:
        - APIKeyAuth: []
  /agents/calls/batches/{batch_id}:
    get:
      tags:
        - Agents
      summary: Get Call Batch
      description: Retrieves a batch and the current status of each of its recipients.
      operationId: agents_get-call-batch
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: batch_id
          in: path
          description: The ID of the batch.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The batch, including its recipients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCallBatch'
        '404':
          description: Batch not found.
      security:
        - APIKeyAuth: []
  /agents/calls/batches/{batch_id}/cancel:
    post:
      tags:
        - Agents
      summary: Cancel Call Batch
      description: >-
        Stops dialing the batch's queued calls. Calls already in flight are left
        to finish. Idempotent.
      operationId: agents_cancel-call-batch
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: batch_id
          in: path
          description: The ID of the batch.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The batch was cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCallBatch'
        '404':
          description: Batch not found.
      security:
        - APIKeyAuth: []
  /agents/calls/batches/{batch_id}/retry:
    post:
      tags:
        - Agents
      summary: Retry Call Batch
      description: >-
        Re-queues the batch's recipients whose latest call attempt failed or
        went unanswered, so the dispatcher dials them again. Recipients that
        successfully completed their call are left untouched. A cancelled batch
        cannot be retried.
      operationId: agents_retry-call-batch
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: batch_id
          in: path
          description: The ID of the batch.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The batch, with its failed recipients re-queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCallBatch'
        '400':
          description: Batch is cancelled and cannot be retried.
        '404':
          description: Batch not found.
      security:
        - APIKeyAuth: []
  /agents/phone-numbers:
    get:
      tags:
        - Phone Numbers
      summary: List Phone Numbers
      operationId: phone_numbers_list
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: agent_id
          in: query
          description: Filter by assigned agent ID.
          required: false
          schema:
            type: string
        - name: provider_id
          in: query
          description: Filter by provider ID.
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: Filter by provider type.
          required: false
          schema:
            type: string
            enum:
              - twilio
              - cartesia
              - sip_trunk
        - name: q
          in: query
          description: Search by phone number, label, or agent name.
          required: false
          schema:
            type: string
        - name: starting_after
          in: query
          description: >-
            A cursor to use in pagination. `starting_after` is a phone number ID
            that defines your place in the list. For example, if you make a
            `/agents/phone-numbers` request and receive 20 objects, ending with
            `pn_abc123`, your subsequent call can include
            `starting_after=pn_abc123` to fetch the next page of the list.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: >-
            A cursor to use in pagination. `ending_before` is a phone number ID
            that defines your place in the list. For example, if you make a
            `/agents/phone-numbers` request and receive 20 objects, starting
            with `pn_abc123`, your subsequent call can include
            `ending_before=pn_abc123` to fetch the previous page of the list.
          required: false
          schema:
            type: string
            nullable: true
        - name: limit
          in: query
          description: >-
            (Pagination option) The number of phone numbers to return per page,
            ranging between 1 and 100. The default page limit is 10.
          required: false
          schema:
            type: integer
            nullable: true
      responses:
        '200':
          description: A paginated list of phone numbers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PhoneNumberResponse'
                  has_more:
                    type: boolean
                required:
                  - data
                  - has_more
      security:
        - APIKeyAuth: []
      x-codeSamples:
        - lang: curl
          label: Search by query
          source: |
            curl -G "https://api.cartesia.ai/agents/phone-numbers" \
              -H "Authorization: Bearer $CARTESIA_API_KEY" \
              -H "Cartesia-Version: 2026-08-14" \
              -d q="support" \
              -d limit=10
    post:
      tags:
        - Phone Numbers
      summary: Import Phone Number
      operationId: phone_numbers_import
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportPhoneNumberBody'
      responses:
        '201':
          description: Phone number imported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        '400':
          description: >-
            Import failed. Possible reasons: phone number not found in the
            provider account, provider lookup failed, provider credentials
            incomplete, webhook configuration failed (number imported but agent
            not assigned — retry via PATCH), or unsupported provider type.
        '404':
          description: Provider or agent not found.
        '409':
          description: Phone number has already been imported.
      security:
        - APIKeyAuth: []
  /agents/phone-numbers/{id}:
    get:
      tags:
        - Phone Numbers
      summary: Get Phone Number
      description: Returns the details of a specific phone number
      operationId: phone_numbers_get
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: The phone number ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        '404':
          description: Phone number not found.
      security:
        - APIKeyAuth: []
    patch:
      tags:
        - Phone Numbers
      summary: Update Phone Number
      description: Update a phone number's label, agent assignment, or provider
      operationId: phone_numbers_update
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: The phone number ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberBody'
      responses:
        '200':
          description: Phone number updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneNumberResponse'
        '400':
          description: >-
            Update failed. Possible reasons: phone number not found in the
            target provider account, or webhook configuration failed.
        '404':
          description: Phone number, agent, or provider not found.
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - Phone Numbers
      summary: Delete Phone Number
      operationId: phone_numbers_delete
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: >-
            The phone number ID.

            Twilio numbers can be deleted while assigned. Cartesia disconnects
            the agent and attempts to clear the Twilio webhook, but cleanup
            failures do not block deletion. Unassign Cartesia-managed and SIP
            trunk numbers first. Deleting a Cartesia-managed number releases it
            permanently.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Phone number deleted.
        '400':
          description: >-
            A Cartesia-managed or SIP trunk number is still assigned, or
            provider cleanup failed.
        '404':
          description: Phone number not found.
      security:
        - APIKeyAuth: []
  /agents/phone-numbers/provision:
    post:
      tags:
        - Phone Numbers
      summary: Provision Cartesia Number
      description: Provision a new Cartesia-managed US phone number
      operationId: phone_numbers_provision
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionPhoneNumberBody'
      responses:
        '201':
          description: Phone number provisioned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisionPhoneNumberResponse'
              example:
                id: pn_abc123
                label: Support line
                number: '+14155551234'
                agent:
                  id: agent_abc123
                  name: Customer support
                created_at: '2026-03-01T00:00:00Z'
                updated_at: '2026-03-01T00:00:00Z'
        '402':
          description: >-
            Subscription phone number limit reached (`error_code:
            quota_exceeded`). Upgrade your plan or delete existing Cartesia
            numbers.
        '404':
          description: Agent not found.
      security:
        - APIKeyAuth: []
  /agents/phone-numbers/providers:
    get:
      tags:
        - Providers
      summary: List Providers
      description: >-
        List telephony provider accounts linked to your account. Supports Twilio
        and SIP Trunk providers.
      operationId: providers_list
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: type
          in: query
          description: Filter by provider type.
          required: false
          schema:
            type: string
            enum:
              - twilio
              - sip_trunk
        - name: account_sid
          in: query
          description: Filter by account SID (Twilio providers only).
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderAccountResponse'
      security:
        - APIKeyAuth: []
    post:
      tags:
        - Providers
      summary: Create Provider
      description: >-
        Link a telephony provider account. For Twilio, credentials are validated
        before the provider is created. Each account SID + region combination
        can only be linked once. For SIP trunks, configure a trunk with an
        inbound and/or outbound configuration.
      operationId: providers_create
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderBody'
      responses:
        '201':
          description: Provider created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAccountResponse'
        '400':
          description: Invalid provider credentials or SIP trunk configuration.
        '409':
          description: >-
            A Twilio provider already exists for this account and region. Use
            PATCH to update the provider.
      security:
        - APIKeyAuth: []
  /agents/phone-numbers/providers/{id}:
    get:
      tags:
        - Providers
      summary: Get Provider
      description: Returns the details of a specific provider account.
      operationId: providers_get
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: The provider ID.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAccountResponse'
        '404':
          description: Provider not found.
      security:
        - APIKeyAuth: []
    patch:
      tags:
        - Providers
      summary: Update Provider
      description: >-
        Update a provider. To ensure assigned numbers are reachable, Twilio
        credentials are validated before saving. If the new credentials are
        invalid, the request fails and returns a list of unreachable numbers
        currently assigned to agents. For SIP trunks, omitted fields remain
        unchanged. Set `credentials` or `destination_country` to `null` to clear
        that field. Send `[]` to clear an inbound allowlist.
      operationId: providers_update
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: The provider ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderBody'
      responses:
        '200':
          description: Provider updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAccountResponse'
        '400':
          description: >-
            Invalid credentials, invalid SIP trunk configuration, or Twilio
            numbers are unreachable with the new credentials.
        '404':
          description: Provider not found.
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - Providers
      summary: Delete Provider
      description: Delete a provider account
      operationId: providers_delete
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: |-
            The provider ID.
            Delete linked phone numbers before deleting the provider.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Provider deleted.
        '404':
          description: Provider not found.
        '409':
          description: >-
            Provider has phone numbers. Remove all phone numbers using this
            provider before deleting it.
      security:
        - APIKeyAuth: []
  /agents/metrics:
    get:
      tags:
        - Agents
      summary: List Metrics
      description: List of all LLM-as-a-Judge metrics owned by your account.
      operationId: agents_list-metrics
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: starting_after
          in: query
          description: >-
            (Pagination option) The ID of the last Metric in the current
            response as a cursor for the next page of results.
          required: false
          schema:
            type: string
            nullable: true
        - name: limit
          in: query
          description: >-
            (Pagination option) The number of metrics to return per page,
            ranging between 1 and 100. The default page limit is 10.
          required: false
          schema:
            type: integer
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetricsResponse'
      security:
        - APIKeyAuth: []
    post:
      tags:
        - Agents
      summary: Create Metric
      description: Create a new metric.
      operationId: agents_create-metric
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMetricRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
      security:
        - APIKeyAuth: []
  /agents/metrics/{metric_id}:
    get:
      tags:
        - Agents
      summary: Get Metric
      description: Get a metric by its ID.
      operationId: agents_get-metric
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: metric_id
          in: path
          description: The ID of the metric.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - Agents
      summary: Delete Metric
      description: >-
        Delete a metric by its ID. The metric is removed from all agents it is
        attached to. Existing metric results are retained.
      operationId: agents_delete-metric
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: metric_id
          in: path
          description: The ID of the metric.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
  /agents/metrics/results:
    get:
      tags:
        - Agents
      summary: List Metric Results
      operationId: agents_list-metric-results
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: agent_id
          in: query
          description: The ID of the agent.
          required: false
          schema:
            type: string
            nullable: true
        - name: deployment_id
          in: query
          description: The ID of the deployment.
          required: false
          schema:
            type: string
            nullable: true
        - name: metric_id
          in: query
          description: The ID of the metric.
          required: false
          schema:
            type: string
            nullable: true
        - name: start_date
          in: query
          description: Filter metric results created at or after this RFC 3339 datetime.
          required: false
          schema:
            type: string
            format: date-time
            nullable: true
            example: '2024-04-01T00:00:00Z'
        - name: end_date
          in: query
          description: Filter metric results created before or at this RFC 3339 datetime.
          required: false
          schema:
            type: string
            format: date-time
            nullable: true
            example: '2024-04-30T23:59:59Z'
        - name: call_id
          in: query
          description: The ID of the call.
          required: false
          schema:
            type: string
            nullable: true
        - name: starting_after
          in: query
          description: >-
            A cursor to use in pagination. `starting_after` is a metric result
            ID that defines your place in the list. For example, if you make a
            /metrics/results request and receive 100 objects, ending with
            `metric_result_abc123`, your subsequent call can include
            `starting_after=metric_result_abc123` to fetch the next page of the
            list.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: >-
            A cursor to use in pagination. `ending_before` is a metric result ID
            that defines your place in the list. For example, if you make a
            /metrics/results request and receive 100 objects, starting with
            `metric_result_abc123`, your subsequent call can include
            `ending_before=metric_result_abc123` to fetch the previous page of
            the list.
          required: false
          schema:
            type: string
            nullable: true
        - name: limit
          in: query
          description: >-
            The number of metric results to return per page, ranging between 1
            and 100.
          required: false
          schema:
            type: integer
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetricResultsResponse'
      security:
        - APIKeyAuth: []
  /agents/metrics/results/export:
    get:
      tags:
        - Agents
      summary: Export Metric Results
      description: >-
        Exports metric results as a CSV file.


        By default, with no pagination parameters, the endpoint streams the
        entire matching result set as a single CSV. To page through results
        instead, pass `limit` and `starting_after` / `ending_before`. Paginated
        responses include the `X-Has-More` and `X-Next-Cursor` headers. Up to
        100,000 rows can be exported per request in either mode; requests whose
        total matching set exceeds this cap return a `400` error.
      operationId: agents_export-metric-results
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: agent_id
          in: query
          description: The ID of the agent.
          required: false
          schema:
            type: string
            nullable: true
        - name: deployment_id
          in: query
          description: The ID of the deployment.
          required: false
          schema:
            type: string
            nullable: true
        - name: metric_id
          in: query
          description: The ID of the metric.
          required: false
          schema:
            type: string
            nullable: true
        - name: call_id
          in: query
          description: The ID of the call.
          required: false
          schema:
            type: string
            nullable: true
        - name: start_date
          in: query
          description: Filter metric results created at or after this RFC 3339 datetime.
          required: false
          schema:
            type: string
            format: date-time
            nullable: true
            example: '2024-04-01T00:00:00Z'
        - name: end_date
          in: query
          description: Filter metric results created before or at this RFC 3339 datetime.
          required: false
          schema:
            type: string
            format: date-time
            nullable: true
            example: '2024-04-30T23:59:59Z'
        - name: limit
          in: query
          description: >-
            The maximum number of rows to return in this CSV page, between 1 and
            1000. Passing this parameter enables paginated mode; omit it (along
            with `starting_after` and `ending_before`) to stream the full result
            set.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: starting_after
          in: query
          description: >-
            An opaque pagination cursor. Returns the page of results after this
            cursor. Pass the `X-Next-Cursor` value from the previous page to
            fetch the next page. Treat the cursor as an opaque string. Cannot be
            combined with `ending_before`.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: >-
            An opaque pagination cursor. Returns the page of results before this
            cursor. Treat the cursor as an opaque string. Cannot be combined
            with `starting_after`.
          required: false
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Successfully exported metric results as a CSV file.
          headers:
            X-Has-More:
              description: >-
                Present only in paginated mode. `"true"` if more results remain
                after this page, otherwise `"false"`.
              schema:
                type: string
                enum:
                  - 'true'
                  - 'false'
            X-Next-Cursor:
              description: >-
                Present only in paginated mode when `X-Has-More` is `"true"`. An
                opaque cursor to pass as `starting_after` to fetch the next
                page. Treat it as an opaque string.
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          description: >-
            More than 100k metric results found for the given filters. Please
            narrow down the filters to export less than 100k results.
        '404':
          description: No metric results found for the given filters.
      security:
        - APIKeyAuth: []
  /agents/{agent_id}/metrics/{metric_id}:
    post:
      tags:
        - Agents
      summary: Add Metric to Agent
      operationId: agents_add-metric-to-agent
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: agent_id
          in: path
          description: The ID of the agent.
          required: true
          schema:
            type: string
        - name: metric_id
          in: path
          description: The ID of the metric.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - Agents
      summary: Remove Metric from Agent
      operationId: agents_remove-metric-from-agent
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
        - name: metric_id
          in: path
          description: The ID of the metric.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
  /access-token:
    post:
      tags:
        - Auth
      summary: Generate a New Access Token
      description: >-
        Generates a short-lived access token to make API requests from
        authenticated clients.
      operationId: auth_access-token
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
      security:
        - APIKeyAuth: []
  /voices:
    get:
      tags:
        - Voices
      summary: List Voices
      operationId: voices_list
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: limit
          in: query
          description: The number of Voices to return per page, ranging between 1 and 100.
          required: false
          schema:
            type: integer
            nullable: true
        - name: starting_after
          in: query
          description: >-
            A cursor to use in pagination. `starting_after` is a Voice ID that
            defines your

            place in the list. For example, if you make a /voices request and
            receive 100

            objects, ending with `voice_abc123`, your subsequent call can
            include

            `starting_after=voice_abc123` to fetch the next page of the list.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: >-
            A cursor to use in pagination. `ending_before` is a Voice ID that
            defines your

            place in the list. For example, if you make a /voices request and
            receive 100

            objects, starting with `voice_abc123`, your subsequent call can
            include

            `ending_before=voice_abc123` to fetch the previous page of the list.
          required: false
          schema:
            type: string
            nullable: true
        - name: q
          in: query
          description: Query string to search for voices by name, description, or Voice ID.
          required: false
          schema:
            type: string
            nullable: true
        - name: is_owner
          in: query
          description: Whether to only return voices owned your organization.
          required: false
          schema:
            type: boolean
            nullable: true
        - name: gender
          in: query
          description: The gender presentation of the voices to return.
          required: false
          schema:
            $ref: '#/components/schemas/GenderPresentation'
            nullable: true
        - name: language
          in: query
          description: >-
            Filter voices by a language or language-locale pair such as `en` or
            `en-GB`. A language-locale pair returns accents for that specific
            locale; a language alone returns all accents for that language. Both
            `-` and `_` separators are accepted.
          required: false
          schema:
            type: string
            nullable: true
        - name: include_archived
          in: query
          description: >-
            Defaults to `false`. Set to `true` to include archived voices in the
            response.
          required: false
          schema:
            type: boolean
            nullable: true
        - name: expand[]
          in: query
          description: Additional fields to include in the response.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/VoiceExpandOptions'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesResponse'
      security:
        - APIKeyAuth: []
  /accents:
    get:
      tags:
        - Voices
      summary: List Accents
      description: >-
        Retrieve all supported accents, including which ones you can localize a
        voice into. Filter with `is_localizable`, `language`, and `locale`. If
        you pass more than one, every filter has to match.
      operationId: accents_list
      parameters:
        - name: is_localizable
          in: query
          description: >-
            Whether you can localize a voice into this accent when calling [Add
            Voice Accents](/api-reference/voices/add-accents) or [Localize
            Voice](/api-reference/voices/localize)
          required: false
          schema:
            type: boolean
        - name: language
          in: query
          description: Filter by accents belonging to a language, like `es` or `en`
          required: false
          schema:
            type: string
        - name: locale
          in: query
          description: Filter by accents belonging to a locale, like `en-US` or `es-MX`
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      responses:
        '200':
          description: Official accents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccentsResponse'
              example:
                accents:
                  - id: general-american
                    name: General American English
                    language: en
                    locale: en-US
                    is_locale_default: true
                    is_localizable: true
                  - id: southern-us
                    name: Southern American English
                    language: en
                    locale: en-US
                    is_locale_default: false
                    is_localizable: true
      security:
        - APIKeyAuth: []
  /voices/clone:
    post:
      tags:
        - Voices
      summary: Clone Voice
      operationId: voices_clone
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                clip:
                  type: string
                  format: binary
                  description: >-
                    See [Clone
                    Voices](/build-with-cartesia/capability-guides/clone-voices)
                    for guidance on choosing a clip.


                    Maximum upload size: `16 MB`.


                    Supported audio formats: `flac`, `mp3`, `mpeg`, `mpga`,
                    `oga`, `ogg`, `wav`, `webm`
                name:
                  type: string
                  description: The name of the voice.
                tagline:
                  type: string
                  description: A few words describing the voice. At most 32 characters.
                  default: ''
                  minimum: 0
                  maximum: 32
                description:
                  description: >-
                    A description for the voice, typically longer than the
                    tagline if both are provided.
                  type: string
                  nullable: true
                language:
                  $ref: '#/components/schemas/SupportedLanguage'
                  description: The language of the voice.
                accent:
                  allOf:
                    - $ref: '#/components/schemas/VoiceAccent'
                  nullable: true
                  description: >-
                    Metadata for labeling the accent of the voice you're
                    cloning, and a prerequisite for [Add Voice
                    Accents](/api-reference/voices/add-accents). See [GET
                    /accents](/api-reference/accents/list) for values valid for
                    each language.
                base_voice_id:
                  $ref: '#/components/schemas/VoiceId'
                  description: >-
                    Optional base voice ID that the cloned voice is derived
                    from.
                  nullable: true
                access:
                  type: string
                  enum:
                    - private
                    - public
                  default: private
                  description: >-
                    Who can use the cloned voice. Prefer `"public"` |
                    `"private"`. Deprecated form field `access[type]` is still
                    accepted.
              required:
                - clip
                - name
                - language
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceMetadata'
      security:
        - APIKeyAuth: []
  /voices/{id}:
    delete:
      tags:
        - Voices
      summary: Delete Voice
      operationId: voices_delete
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/VoiceId'
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
    patch:
      tags:
        - Voices
      summary: Update Voice
      description: >-
        Update the name, description, gender, and accent of a voice. To set the
        gender back to the default, set the gender to `null`. If gender is not
        specified, the gender will not be updated.
      operationId: voices_update
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/VoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVoiceRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
      security:
        - APIKeyAuth: []
    get:
      tags:
        - Voices
      summary: Get Voice
      operationId: voices_get
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/VoiceId'
        - name: expand[]
          in: query
          description: Additional fields to include in the response.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/VoiceExpandOptions'
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
      security:
        - APIKeyAuth: []
  /voices/localize:
    post:
      tags:
        - Voices
      summary: Localize Voice
      description: >-
        Localize a voice to sound native in another accent. This creates a new
        voice with its own voice ID.
      operationId: voices_localize
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalizeVoiceRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceMetadata'
      security:
        - APIKeyAuth: []
  /voices/{id}/accents:
    patch:
      tags:
        - Voices
      summary: Add Voice Accents
      description: >-
        Add accents to an instant voice clone you own so a single `voice_id` can
        speak multiple accents natively.
      operationId: voices_add_accents
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/VoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddVoiceAccentsRequest'
            example:
              accents:
                - british
                - parisian
      responses:
        '200':
          description: The same voice ID that can now speak the newly added accent(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
      security:
        - APIKeyAuth: []
  /voices/{id}/accents/{accent_id}:
    delete:
      tags:
        - Voices
      summary: Delete Voice Accent
      description: Remove an accent your instant voice clone supports.
      operationId: voices_delete_accent
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/VoiceId'
        - name: accent_id
          in: path
          required: true
          description: >-
            Pass one of the accents from this voice's [Get
            Voice](/api-reference/voices/get) response, except its native accent
            (`is_native: true`).
          schema:
            type: string
            example: british
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
      security:
        - APIKeyAuth: []
  /pronunciation-dicts/:
    get:
      tags:
        - PronunciationDicts
      description: List all pronunciation dictionaries for the authenticated user
      operationId: pronunciationDicts_list
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: limit
          in: query
          description: >-
            The number of dictionaries to return per page, ranging between 1 and
            100.
          required: false
          schema:
            type: integer
            nullable: true
        - name: starting_after
          in: query
          description: >-
            A cursor to use in pagination. `starting_after` is a dictionary ID
            that defines your

            place in the list. For example, if you make a request and receive 20
            objects, ending

            with `dict_abc123`, your subsequent call can include
            `starting_after=dict_abc123`

            to fetch the next page of the list.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: >-
            A cursor to use in pagination. `ending_before` is a dictionary ID
            that defines your

            place in the list. For example, if you make a request and receive 20
            objects, starting

            with `dict_abc123`, your subsequent call can include
            `ending_before=dict_abc123`

            to fetch the previous page of the list.
          required: false
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPronunciationDicts'
      security:
        - APIKeyAuth: []
    post:
      tags:
        - PronunciationDicts
      description: Create a new pronunciation dictionary
      operationId: pronunciationDicts_create
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePronunciationDictRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PronunciationDict'
      security:
        - APIKeyAuth: []
  /pronunciation-dicts/{id}:
    get:
      tags:
        - PronunciationDicts
      description: Retrieve a specific pronunciation dictionary by ID
      operationId: pronunciationDicts_get
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the pronunciation dictionary to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PronunciationDict'
      security:
        - APIKeyAuth: []
    patch:
      tags:
        - PronunciationDicts
      description: Update a pronunciation dictionary
      operationId: pronunciationDicts_update
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the pronunciation dictionary to update
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePronunciationDictRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PronunciationDict'
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - PronunciationDicts
      description: Delete a pronunciation dictionary
      operationId: pronunciationDicts_delete
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the pronunciation dictionary to delete
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
  /datasets/:
    get:
      tags:
        - Datasets
      description: Paginated list of datasets
      operationId: datasets_list
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: limit
          in: query
          description: >-
            The number of Datasets to return per page, ranging between 1 and
            100.
          required: false
          schema:
            type: integer
            nullable: true
        - name: starting_after
          in: query
          description: >-
            A cursor to use in pagination. `starting_after` is a Dataset ID that
            defines your

            place in the list. For example, if you make a /datasets request and
            receive 20

            objects, ending with `dataset_abc123`, your subsequent call can
            include

            `starting_after=dataset_abc123` to fetch the next page of the list.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: >-
            A cursor to use in pagination. `ending_before` is a Dataset ID that
            defines your

            place in the list. For example, if you make a /datasets request and
            receive 20

            objects, starting with `dataset_abc123`, your subsequent call can
            include

            `ending_before=dataset_abc123` to fetch the previous page of the
            list.
          required: false
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDatasets'
      security:
        - APIKeyAuth: []
    post:
      tags:
        - Datasets
      description: Create a new dataset
      operationId: datasets_create
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatasetRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
      security:
        - APIKeyAuth: []
  /datasets/{id}:
    get:
      tags:
        - Datasets
      description: Retrieve a specific dataset by ID
      operationId: datasets_get
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the dataset to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
      security:
        - APIKeyAuth: []
    patch:
      tags:
        - Datasets
      description: Update an existing dataset
      operationId: datasets_update
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the dataset to update
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetRequest'
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - Datasets
      description: Delete a dataset
      operationId: datasets_delete
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the dataset to delete
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
  /datasets/{id}/files:
    get:
      tags:
        - Datasets
      description: Paginated list of files in a dataset
      operationId: datasets_listFiles
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the dataset to list files from
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: The number of files to return per page, ranging between 1 and 100.
          required: false
          schema:
            type: integer
            nullable: true
        - name: starting_after
          in: query
          description: >-
            A cursor to use in pagination. `starting_after` is a file ID that
            defines your

            place in the list. For example, if you make a dataset files request
            and receive 20

            objects, ending with `file_abc123`, your subsequent call can include

            `starting_after=file_abc123` to fetch the next page of the list.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: >-
            A cursor to use in pagination. `ending_before` is a file ID that
            defines your

            place in the list. For example, if you make a dataset files request
            and receive 20

            objects, starting with `file_abc123`, your subsequent call can
            include

            `ending_before=file_abc123` to fetch the previous page of the list.
          required: false
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDatasetFiles'
      security:
        - APIKeyAuth: []
    post:
      tags:
        - Datasets
      description: Upload a new file to a dataset
      operationId: datasets_uploadFile
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the dataset to upload to
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  $ref: '#/components/schemas/VoiceAudioFileInput'
                purpose:
                  description: Purpose of the file
                  type: string
                  example: fine_tune
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
  /datasets/{id}/files/{fileID}:
    delete:
      tags:
        - Datasets
      description: Remove a file from a dataset
      operationId: datasets_deleteFile
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the dataset containing the file
          required: true
          schema:
            type: string
        - name: fileID
          in: path
          description: ID of the file to remove
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
  /files:
    post:
      tags:
        - Files
      description: Upload a file, tagged with what it will be used for.
      operationId: files_upload
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - purpose
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload.
                purpose:
                  allOf:
                    - $ref: '#/components/schemas/FilePurpose'
                  example: agent_background_sound
                  description: What the file will be used for.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: >-
            The file is not valid for the given purpose (for example, a
            non-audio file uploaded as `agent_background_sound`).
        '413':
          description: >-
            The file exceeds the maximum upload size (`error_code:
            file_too_large`).
        '429':
          description: Upload quota exceeded.
      security:
        - APIKeyAuth: []
    get:
      tags:
        - Files
      description: Paginated list of your uploaded files.
      operationId: files_list
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: purpose
          in: query
          description: Only return files uploaded with this purpose.
          required: false
          schema:
            $ref: '#/components/schemas/FilePurpose'
        - name: q
          in: query
          description: Only return files whose filename contains this substring.
          required: false
          schema:
            type: string
            example: background
        - name: limit
          in: query
          description: The number of files to return per page, ranging between 1 and 100.
          required: false
          schema:
            type: integer
            nullable: true
            example: 10
        - name: starting_after
          in: query
          description: >-
            A cursor for pagination. `starting_after` is a file ID; the response
            returns the page of files after it.
          required: false
          schema:
            type: string
            nullable: true
            example: file_EneDabCuJCpfe5CFi5X12e
        - name: ending_before
          in: query
          description: >-
            A cursor for pagination. `ending_before` is a file ID; the response
            returns the page of files before it.
          required: false
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFiles'
      security:
        - APIKeyAuth: []
  /files/{id}/info:
    get:
      tags:
        - Files
      description: Retrieve a file's metadata.
      operationId: files_get
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the file.
          required: true
          schema:
            type: string
            example: file_EneDabCuJCpfe5CFi5X12e
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '404':
          description: File not found.
      security:
        - APIKeyAuth: []
  /files/{id}/download:
    get:
      tags:
        - Files
      description: Download a file's contents.
      operationId: files_download
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the file.
          required: true
          schema:
            type: string
            example: file_EneDabCuJCpfe5CFi5X12e
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: File not found.
      security:
        - APIKeyAuth: []
  /files/{id}:
    delete:
      tags:
        - Files
      description: Delete an uploaded file.
      operationId: files_delete
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the file to delete.
          required: true
          schema:
            type: string
            example: file_EneDabCuJCpfe5CFi5X12e
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: File deleted successfully
                required:
                  - message
        '404':
          description: File not found.
        '409':
          description: >-
            The file is still in use as an agent's background sound; remove it
            from those agents first.
      security:
        - APIKeyAuth: []
  /fine-tunes/:
    get:
      tags:
        - FineTunes
      description: Paginated list of all fine-tunes for the authenticated user
      operationId: fineTunes_list
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: limit
          in: query
          description: >-
            The number of fine-tunes to return per page, ranging between 1 and
            100.
          required: false
          schema:
            type: integer
            nullable: true
        - name: starting_after
          in: query
          description: >-
            A cursor to use in pagination. `starting_after` is a fine-tune ID
            that defines your

            place in the list. For example, if you make a /fine-tunes request
            and receive 20

            objects, ending with `fine_tune_abc123`, your subsequent call can
            include

            `starting_after=fine_tune_abc123` to fetch the next page of the
            list.
          required: false
          schema:
            type: string
            nullable: true
        - name: ending_before
          in: query
          description: >-
            A cursor to use in pagination. `ending_before` is a fine-tune ID
            that defines your

            place in the list. For example, if you make a /fine-tunes request
            and receive 20

            objects, starting with `fine_tune_abc123`, your subsequent call can
            include

            `ending_before=fine_tune_abc123` to fetch the previous page of the
            list.
          required: false
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFineTunes'
      security:
        - APIKeyAuth: []
    post:
      tags:
        - FineTunes
      description: Create a new fine-tune
      operationId: fineTunes_create
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFineTuneRequest'
            example:
              name: My voice
              description: A fine-tuned voice
              language: en
              dataset: dataset_abc123
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTune'
      security:
        - APIKeyAuth: []
  /fine-tunes/{id}:
    get:
      tags:
        - FineTunes
      description: Retrieve a specific fine-tune by ID
      operationId: fineTunes_get
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the fine-tune to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTune'
      security:
        - APIKeyAuth: []
    delete:
      tags:
        - FineTunes
      description: Delete a fine-tune
      operationId: fineTunes_delete
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the fine-tune to delete
          required: true
          schema:
            type: string
      responses:
        '204':
          description: ''
      security:
        - APIKeyAuth: []
  /fine-tunes/{id}/voices:
    get:
      tags:
        - FineTunes
      description: List all voices created from a fine-tune
      operationId: fineTunes_listVoices
      parameters:
        - $ref: '#/components/parameters/CartesiaVersionHeader'
        - name: id
          in: path
          description: ID of the fine-tune to list voices from
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: The number of voices to return per page, ranging between 1 and 100.
          required: false
          schema:
[...]
